    .shopping_cart__container {
        margin-top: 2rem;

        .shopping_cart--empty {
            display: block;
            padding: 0px 10px;

            .empty_shopping_cart_container {
                padding: 60px;

                .empty_shopping_cart--center {
                    text-align: center;
                } 

                h1 {
                    font-size: 40px;
                }
                
                .empty_shopping_cart--image {
                    background: url("../images/layout/empty_cart.svg") no-repeat center center;
                    height: 180px;
                }
            }
        }
    }

    .shopping_cart__wrapper {
        display: flex;
    }

    .shopping_cart_items__container {
        flex: 0 0 60%;
        max-width: 60%;
        width: 100%;
        position: relative;
        float: left;
        padding-left: 10px;
        padding-right: 10px;
    }

    .shopping_cart__header {
        margin-bottom: 1.25rem;
        padding: 0;
        
        .shopping_cart__title {
            font-size: 28px;
            font-family: $font-tertiary;
        }
    }

    .shopping_cart_order__wrapper {
        position: relative;
        margin: 0;
    }

    .shopping_cart_item {
        border-top: 1px solid $line;

        &:first-child {
            border-top: none;
        }
    }

    .shopping_cart_item__view_container {
        padding: 20px 0px;
        margin: 0;
    }

    .shopping_cart_item__view {
        display: flex;
    }

    .shopping_cart_item__image {
        white-space: nowrap;
        flex-grow: 0;

        .shopping_cart_item__image--thumbnail {
            display: inline-block;
            width: 66px;
            height: 66px;
            overflow: hidden;
            border-radius: 4px;
            border: 1px solid $line;
        }
    }

    .shopping_cart_item__detail {
        flex: 1;
        font-size: 14px;
        font-weight: 600;
        overflow: hidden;
        margin-left: 10px;
    }

    .shopping_cart_item__product_title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .shopping_cart_item__product_title--heading {
        color: $black-alt;
        font-size: 16px;
        font-weight: 900;
        font-family: $font-quaternary;
    }

    .shopping_cart_item__product_detail {
        overflow: hidden;
        text-overflow: ellipsis;

        .shopping_cart_item__product_detail--list {
            margin-right: 5px;
            padding: 0;
        }
    
        .shopping_cart_item__product_detail--label {
            display: inline-block;
            color: $grey;
            font-size: 14px;

            &:not(:last-of-type):after {
                content: '•';
                padding: 0 0.25rem;
            }
        }
    }

    .shopping_cart_item__quantity,
    .shopping_cart_item__price {
        position: relative;
        margin: auto 0;
        font-size: 18px;
        padding: 0.25rem;
        
    }

    .shopping_cart_item__quantity_label {
        color: $grey-alt;
        font-size: 16px;
    }

    .shopping_cart_item__price_label {
        font-size: 16px;
        font-weight: 600;
    }

    .shopping_cart_item__actions {
        margin: auto 0;
        display: inline;
        width: 70px;
        text-align: right;
        position: relative;
    }

    .shopping_cart_item__actions_button {
        border-radius: 2px;
        cursor: pointer;
        width: 60px;
        text-align: center;
        padding: 0.2rem 0;    
        background-color: $white;
        border: 1px solid $grey;
        outline: none;
        color: $blue;
        font-weight: 600;
        font-family: $font-secondary;
        
        &:hover {
            color: $blue;
            border-color: $line-alt;
        }

        &.button--small {
            font-size: 14px;
        }

        &.button_cart--edit {
            display: inline-block;
        }

        &.button_cart--cancel {
            display: inline-block;
        }

        &.button_cart--update {
            display: inline-block;
            color: $white;
            background-color: $blue-alt;
            border: 1px solid $blue-alt;
            
            &:hover {
                background-color: $cyan;
                border-color: $cyan;
            }
        }
    }

    .shopping_cart_item__edit {
        width: 100%;
        margin: 10px 0 0;
        border-radius: 4px;
        padding: 6px 0 6px 10px;
        background-color: $white-alt;
    }

    .shopping_cart_item__triangle {
        position: relative;

        &:after {
            content: "";
            transform: scale(2.5, 2.5);
            position: absolute;
            border-bottom-color: $white-alt;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 5px solid $white-alt;
            top: -12px;
            right: 22px;
        }
    }

    .shopping_cart_item__remove {
        display: inline-block;
        margin: 15px 9px;
    
        .shopping_cart_item__remove-button--remove {
            color: $grey;
            background: none;
            border: none;
            outline: none;
            cursor: pointer;
            font-weight: 600;
            font-size: 13px;
            font-family: $font-tertiary;

            &:hover {
                color: $grey-alt;
            }
        }
    }
    
    .shopping_cart_item__remove_container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .shopping_cart_item__edit--right {
            float: right;
            margin: 0.1875rem 0.3125rem;
        
            .shopping_cart_item__size {
                margin: 0 10px;
                display: inline-block;

                .shopping_cart_item__size--label {
                    display: inline-block;
                    margin-right: 0.25rem;
                    font-size: 14px;
                }

                .shopping_cart_item__size--select {
                    width: 70px;
                    background: $white url("../images/layout/double_caret.png") no-repeat right 5px top 50%;
                    background-size: 14px 16px;
                    border: 1px solid $line-alt;
                    border-radius: 2px;
                    color: $black-alt;
                    font-size: 14px;
                    outline: 0;
                    padding: 11px 14px;
                    padding-right: 1.5em;
                    appearance: none;

                    &:focus {
                        border-color: $orange;
                        box-shadow: 0 0 1px $orange;
                    }
                }
            }
            
            .shopping_cart_item__quantity {
                display: inline-block;
                margin: 0 10px;

                .shopping_cart_item__quantity--label {
                    display: inline-block;
                    margin-right: 0.25rem;
                    font-size: 14px;
                }

                .shopping_cart_item__quantity--input {
                    width: 60px;
                    border: 1px solid $line-alt;
                    padding: 11px 14px;
                    padding-right: 8px;
                    color: $black-alt;
                    font-size: 14px;
                    outline: 0;
                    border-radius: 2px;

                    &:focus {
                        border-color: $orange;
                        box-shadow: 0 0 1px $orange;
                    }
                }
            }
        }
    }
    

    .shopping_cart_summary__container {
        flex: 0 0 40%;
        max-width: 40%;
        width: 100%;
        position: relative;
        float: left;
        padding-left: 10px;
        padding-right: 10px;
    }

    .shopping_cart_summary {
        float: right;
        border-radius: 2px;
        width: 400px;
        max-width: 400px;
        padding: 1.25rem;
        background-color: $white-alt;
    }

    .shopping_cart_summary__detail {
        color: $line-alt;
        margin-bottom: 5px;
        font-size: 16px;
    }

    .shopping_cart_summary__detail--subtotal {
        color: $black-alt;
        display: flex;
        justify-content: space-between;
    }

    .detail__label,
    .detail__value {
        margin: 0;
        padding: 0;
        font-family: $font-secondary;
    }

    .checkout_item_label {
        font-weight: bold;
    }

    .checkout_item_count {
        font-weight: normal;
    }

    .checkout_item_price {
        font-weight: bold;
        color: $green-alt;
    }

    .shopping_cart_summary__message {
        color: $grey;
        font-size: 14px;
    }

    .shopping_cart_summary__button {
        margin-top: 20px;
    
        .button--transaction {
            outline: none;
            width: 100%;
            text-align: center;
            background: $green-alt;
            border: 1px solid $green-alt;
            padding: 0.75rem 1.25rem;
            display: block;
            font-weight: bold;
            color: $white;
            font-size: 18px;
            font-family: $font-secondary;

            &:hover {
                cursor: pointer;
                background: $green;
                border: 1px solid $green;
            }
        }
    }