    html,
    body {
        font-size: 16px;
        font-family: "Mr Eaves XL Modern", "Helvetica Neue", Helvetica, Arial, sans-serif;
        line-height: 1.5;
        // color: ;
    }
    
    .site__content_container {
        height: auto;
        min-height: 100%;
    }

    .site__main {
        padding: 0;
    }

    .site__wrapper {
        margin-right: auto;
        margin-left: auto;

        @include sm {
            width: 540px;
        }

        @include md {
            width: 750px;
        }

        @include lg {
            width: 970px;
        }
         
        @include xl {
            width: 1170px;
        }
    }