    *, 
    ::after, 
    ::before {
        box-sizing: border-box;
    }

    html,
    body {
        font-size: 16px;
        font-family: $font-primary;
        line-height: 1.5;
        color: $blue;
    }
    
    .site__content_container {
        height: auto;
        min-height: 100%;
    }

    .site__main {
        padding: 0;
    }

    .site__wrapper {
        margin-right: auto;
        margin-left: auto;

        @include sm {
            width: 540px;
        }

        @include md {
            width: 750px;
        }

        @include lg {
            width: 970px;
        }
         
        @include xl {
            width: 1170px;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 900;
        color: $orange;
        font-family: inherit;
    }

    a {
        text-decoration: none;
    }

    fieldset {
        position: relative;
    } 

    .hidden {
        display: none!important;
    }