    header {
        background-color: $white;   
    }

    .site__header {
        border-bottom: 1px solid #edeff3;
    }

    .site__header_content {
        padding-right: 3.75rem;
        padding-left: 4.75rem;
    }

    .site__header_control {

    }

    .site__logo {

    }

    .site__menu {
        
    }