    .site__shop_product_container {
        display: flex;
        padding-top: 20px;
    }

    .shop__heading-product {
        margin-bottom: 0;
        margin-top: 0;
        padding-bottom: 10px;

        .shop__title {
            font-weight: 900;
            font-size: 28px;
            text-align: left;
            color: $indigo;
            font-family: $font-tertiary;
        }

        .shop__location {
            font-size: 18px;
            font-weight: 600;
            font-family: $font-quaternary;
            color: $black-alt;

            i {
                font-size: 16px;
                margin-right: 5px;
                padding: 0;
            }
        }
    }

    .shop__description_container {
        position: relative;

        .shop__description--text {
            margin: 0;
            padding-bottom: 20px;
            text-align: left;
            font-size: 16px;
            font-family: $font-secondary;
        }
    }

    .image_stack__container___wrapper {
        flex: 0 0 55%;
        max-width: 55%;
        width: 100%;
        position: relative;
        float: left;
        padding-left: 10px;
        padding-right: 10px;
    }

    .image_stack__container {

    }

    .image_stack__inner {

    }

    .image_stack__images {

    }

    .image_stack__image_wrap {

    }

    .image_stack__image_wrap--active {

    }

    .image_stack__image {

    }

    .image_stack__nav {

    }

    .image_stack__nav_list {

    }

    .image_stack__nav_item {

    }

    .image_stack__nav_item--active {

    }

    .image_stack__nav_item_thumb {

    }

    .shop__column--product {
        flex: 0 0 45%;
        max-width: 45%;
        width: 100%;
        position: relative;
        float: left;
        padding-left: 10px;
        padding-right: 10px;
    }

    .shop__purchase_container {
        background-color: $white-alt;
        border: 1px solid $line;
        border-radius: 2px;
        border-bottom-width: 1px;
        padding-bottom: 0;
        margin-bottom: 1.06666rem;
    }

    .shop_form_container {
        display: block;
        position: relative;
    }

    .product_dropdown__container {
        margin-bottom: 0;
        padding: 0 16px;
        padding-bottom: 10px;
        padding-top: 20px;
    }

    .product__type_label,
    .product__size_label,
    .product__quantity_label,
    .product__toppings_label {
        margin-top: 0;
    }

    .product_dropdown__label {
        margin-bottom: 0;
        font-size: 14px;
        font-weight: bold;
        display: inline-block;
        font-family: $font-secondary;
    }

    .product__type_dropdown_container {
        margin: 0;
    }

    .product__type_dropdown {
        width: 100%;
        background: $white url("../images/layout/double_caret.png") no-repeat right 5px top 50%;
        background-size: 14px 16px;
        border: 1px solid $line-alt;
        border-radius: 2px;
        color: $black-alt;
        font-size: 14px;
        outline: 0;
        padding: 11px 14px;
        padding-right: 1.5em;
        appearance: none;
        position: relative;

        &:focus {
            border-color: $orange;
            box-shadow: 0 0 1px $orange;
        }
    }

    .product__container {
        display: block;
        margin: 0;
    }

    .product__nav {
        padding-top: 2px;
        overflow-x: hidden;
        margin-bottom: 0;
        position: relative;
        text-align: left;
        white-space: nowrap;
    }

    .product__list {
        padding: 0 16px;
        width: auto;
    }

    .product__single {
        display: block;
        float: left;
        margin: 0 10px 10px 0;
        opacity: 0.6;
        cursor: pointer;
        border-radius: 4px;
        overflow: hidden;
        transition: all 400ms ease-out;

        &.disabled {
            pointer-events: none!important;
        }

        &:hover {
            opacity: 1;
        }

        &.product__single--active  {
            opacity: 1;

            .product__img-wrap {
                box-shadow: 0 0 0.5px 1px $blue-alt;
                background-color: $white-alt;
                border-color: $red;
                opacity: 1;
                transition: all 100ms;
                border-width: 2px;
            }
        }
        
        .product__img-wrap {
            border: 1px solid $line;
            border-radius: 2px;
            width: 70px;
            height: 70px;
            position: relative;
            background-color: $white;
            text-align: center;
            overflow: hidden;
    
            &:hover {
                box-shadow: 0 0 0.5px 1px $blue-alt;
                background-color: $white-alt;
                border-color: $red;
                opacity: 1;
                transition: all 100ms;
                border-width: 2px;
            }
            
            .product__thumb {
                max-height: 70px;
                margin: auto;
            }
        }
    }
  
    .shop_page__size_quantity_container {
        padding: 0 16px;
        display: flex;
        margin-bottom: 16px;

    }   

    .product__size_container,
    .product__quantity_container {
        display: block;
        margin-right: 20px;
    }

    .product__size_label,
    .product__quantity_label {
        padding-right: 16px;
        margin-bottom: 5px;
    }

    .product__size_selector_menu_container,
    .product__quantity_input_field_container {
        width: 35%;
        min-width: 100px;
        max-width: 120px;
        height: 40px;
    }

    .product__size_selector_menu{
        width: 100%;
        background: $white url("../images/layout/double_caret.png") no-repeat right 5px top 50%;
        background-size: 14px 16px;
        border: 1px solid $line-alt;
        border-radius: 2px;
        color: $black-alt;
        font-size: 14px;
        outline: 0;
        padding: 11px 14px;
        padding-right: 1.5em;
        appearance: none;

        &:focus {
            border-color: $orange;
            box-shadow: 0 0 1px $orange;
        }
    }

    .product__quantity_input_field {
        width: 100%;
        border: 1px solid $line-alt;
        padding: 11px 14px;
        padding-right: 8px;
        color: $black-alt;
        font-size: 14px;
        outline: 0;
        border-radius: 2px;

        &:focus {
            border-color: $orange;
            box-shadow: 0 0 1px $orange;
        }
    }


    .product__toppings_container {
        padding: 0 16px;
    }

    .product__topping_list_container {

    }

    .product__topping_list {

    }

    .product__topping_list_item {

        &.product__topping_list_item--active {

        }
    }

    .product__topping_checkbox--type {

    }

    .shop_transaction {
        position: relative;
        display: block;

        .shop_button--transaction {
            outline: none;
            background:  $green-alt;
            border: 1px solid  $green-alt;
            
            &:hover {
                cursor: pointer;
                background: $green;
                border: 1px solid $green;
            }
        }

        .shop_form__submit {
            border-radius: 2px;
            font-weight: bold;
            font-size: 1.25rem;
            padding: 1rem;
            width: 100%;
            display: block;
            color: $white;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    }