    .shopping_cart__container {
        margin-top: 60px;
        padding: 0px 15px;

        .shopping_cart--empty {
            display: block;

            .empty_shopping_cart_container {
                padding: 60px;

                .empty_shopping_cart--center {
                    text-align: center;
                } 

                h1 {
                    font-size: 40px;
                }
                
                .empty_shopping_cart--image {
                    background: url("../images/layout/empty_cart.svg") no-repeat center center;
                    height: 180px;
                }
            }
        }
    }


    .checkout__wrapper {
        margin-top: 2rem;

        .order_form {
            display: flex;

            .checkout__container {
                flex: 0 0 50%;
                max-width: 50%;
                width: 100%;
                position: relative;
                float: left;
                margin-left: 10px;
                margin-right: 10px;

                .checkout_form {
                    margin-bottom: 3rem;

                    fieldset + fieldset {
                        margin-top: -1.5rem;
                    }
                }
            }

            .order_summary__container {
                flex: 0 0 50%;
                max-width: 50%;
                width: 100%;
                position: relative;
                float: left;
                margin-left: 10px;
                margin-right: 10px;
                padding: 0.5rem 0 0.5rem 5rem;
            }
        }
    }


    .checkout_form__header {
        margin-bottom: 20px;
        
        .checkout_form__title {
            font-size: 28px;
            font-family: $font-tertiary;
        }
    }


    .checkout__legend {
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0;
        font-family: $font-tertiary;
        margin-bottom: 8px;
    }


    .form__textfield {
        font-size: 14px;
        width: 100%;
        border: 1px solid $border;
        margin-bottom: 1.25em;
        padding: 0.625rem 0.875rem;
        color: $black-alt;
        border-radius: 2px;
        background-color: $white;
        background-clip: padding-box;
        transition: border-color .15s, background-color .15s;

        &.error--inline {
            color: $red!important;
            border-color: $red!important;
        }

        &:focus {
            border-color: $orange;
            outline: none;
            box-shadow: none;
        }
    }
    
    .form__group {
        margin-bottom: 1.8rem;

        .form__textfield--full {
            width: 100%;
        }    
    
        .checkout__input--half {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }

    .checkout_form__row {
        display: flex;
        flex-direction: row;

        .checkout__input--half {
            flex: 0 0 50%;
            width: 50%;
            clear: both;
            float: left;
        }

        .checkout__input--half + .checkout__input--half {
            padding-left: 15px;
        }
    }

    .form__error {
        color: $red;
        font-size: 12px;
        margin: -0.75rem 0 0.875rem;
        width: 100%;
    }
   

    .checkout_form__footer {
        margin-bottom: 1.8rem;

        .checkout_form_footer__submit {
            font-weight: bold;
            font-size: 1.5rem;
            padding: 1rem;
            width: 100%;
            color: $white;
        }

        .button--transaction {
            background:  $green-alt;
            border: 1px solid  $green-alt;
            
            &:hover {
                cursor: pointer;
                background: $green;
                border: 1px solid $green;
            }
        }
    }


    .order_summary__info {
        padding: 0;
        background-color: $white;
        margin-bottom: 2.6rem;
    }

    .order_summary__help {
        background-color: transparent;
        margin-bottom: 2.5rem;
    }

    .checkout__summary_heading {
        padding: 0;
    }

    .checkout__summary_title {
        margin-bottom: 12px;
    }

    .checkout__summary__title {
        text-align: left;
        font-size: 18px;
        font-weight: 600;
    }

    .order_summary__modify_order {
        margin-top: 0.3rem;
        float: right;
        font-size: 12px;
        color: $red;
        font-weight: 600;

        &:hover {
            color: $red-alt;
        }
    }

    .checkout__separator--page {
        opacity: 0.15;
        border-bottom: 1px solid #6c7478;
    }


    .coupon_code__container {
        margin-bottom: 1.8rem;
    }

    .coupon_code_link {
        background: none;
        border: none;
        padding: 0;
        outline: none;
        cursor: pointer;
        color: $blue;

        &:hover {
            color: $red-alt;
        }
    }

    .coupon_code__wrapper {
        padding: 0;
        margin: 0;
    }

    .coupon_code__container {
        display: flex;
        align-items: flex-start;
        flex-direction: row;
    }

    .coupon_code_message {
        text-align: left;
        font-size: 16px;

        &.success {
            color: $green;
        }

        &.failure {
            color: $red;
        }
    }

    .button--apply {
        margin-left: 1rem;
        background-color: $indigo;
        border: 1px solid $indigo;
        font-size: 1rem;
        line-height: 1.5;
        padding: 0.4375rem 1.75rem;
        border: 0;
        border-radius: 2px;
        color: $white;
        cursor: pointer;
        font-weight: 600;
        transition: all 150ms;
        user-select: none;
        display: inline-block;

        &:hover {
            background-color: $indigo-alt;
            border-color: $indigo-alt;
        }

        &.disabled {
            opacity: 0.5;
            cursor: not-allowed;
            text-decoration: none;
        }
    }