    $screen-sm-min: 576px;
    $screen-md-min: 768px;
    $screen-lg-min: 992px;
    $screen-xl-min: 1200px;


    @mixin sm {
        @media (min-width: #{$screen-sm-min}) {
            @content;
        }
    }
    
    @mixin md {
        @media (min-width: #{$screen-md-min}) {
            @content;
        }
    }

    @mixin lg {
        @media (min-width: #{$screen-lg-min}) {
            @content;
        }
    }
    
    @mixin xl {
        @media (min-width: #{$screen-xl-min}) {
            @content;
        }
    }

    @mixin custom($screen) {
        @media (min-width: $screen+'px') {
            @content;
        }
    }


    $white: rgb(255, 255, 255);
    $black: rgb(0, 0, 0);
    $orange: #f58220;
    $grey: #6A6F72;
    $line: #d8dae0;
    $white-alt: #f6f6f9;

    $facebook: #3B5998;
    $twitter: #00B6F1;
    $instagram: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    $pinterest: #C91517;