html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  font-size: 16px;
  font-family: "Mr Eaves XL Modern", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: black;
}

.site__content_container {
  height: auto;
  min-height: 100%;
}

.site__main {
  padding: 0;
}

.site__wrapper {
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .site__wrapper {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .site__wrapper {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .site__wrapper {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .site__wrapper {
    width: 1170px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
  color: #f58220;
  font-family: "GT Haptik", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

header {
  background-color: white;
}

.site__header {
  border-bottom: 1px solid #edeff3;
}

.site__header_content {
  padding-right: 2.75rem;
  padding-left: 3.75rem;
}

footer {
  background: white;
}

.site__footer {
  margin: 20px 0px 0px 0px;
  border-top: 1px solid #d8dae0;
  padding: 40px 30px;
}

.site__footer_wrapper {
  margin: 0px;
}

.site__footer_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
  margin: 0 auto;
  padding: 0 15px;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 auto;
}

.footer__nav .nav__items {
  border-left: 1px solid #edeff3;
  display: inline-block;
  padding: 0px 3rem;
}

.footer__nav .nav__items .nav__header {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 20px;
}

.footer__nav .nav__items .nav__item {
  display: block;
  margin-bottom: 10px;
  padding-right: 5px;
  color: #6A6F72;
}

.footer__nav .nav__items .nav__item .nav__item_link {
  color: #6A6F72;
}

.footer__nav .nav__items .nav__item .nav__item_link:hover {
  color: black;
  opacity: 0.8;
}

.footer__nav .nav__items .nav__item .icon__facebook_link,
.footer__nav .nav__items .nav__item .icon__twitter_link,
.footer__nav .nav__items .nav__item .icon__instagram_link,
.footer__nav .nav__items .nav__item .icon__pinterest_link {
  color: #6A6F72;
}

.footer__nav .nav__items .nav__item .icon__facebook_link:hover {
  color: #3B5998;
}

.footer__nav .nav__items .nav__item .icon__twitter_link:hover {
  color: #00B6F1;
}

.footer__nav .nav__items .nav__item .icon__instagram_link:hover {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer__nav .nav__items .nav__item .icon__pinterest_link:hover {
  color: #C91517;
}

.footer__nav .site__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 1rem;
}

.footer__nav .site__social .site__logo_link {
  padding: 0;
  height: auto;
}

.footer__nav .site__social .site__logo_link .site__logo_image {
  width: 100%;
  height: auto;
  display: block;
}

.footer__nav .site__social .site__social_links {
  margin: 0;
}

.footer__nav .site__social .site__social_links .site__social_link {
  width: 40px;
  height: 40px;
  background-color: #f6f6f9;
  border-radius: 50%;
  margin-right: 0.5rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  vertical-align: middle;
}

.footer__nav .site__social .site__social_links .site__social_link .icon__facebook_link,
.footer__nav .site__social .site__social_links .site__social_link .icon__twitter_link,
.footer__nav .site__social .site__social_links .site__social_link .icon__instagram_link,
.footer__nav .site__social .site__social_links .site__social_link .icon__pinterest_link {
  margin: 0;
}

.footer__nav .site__social .site__social_links .site__social_link .icon__facebook_link i,
.footer__nav .site__social .site__social_links .site__social_link .icon__twitter_link i,
.footer__nav .site__social .site__social_links .site__social_link .icon__instagram_link i,
.footer__nav .site__social .site__social_links .site__social_link .icon__pinterest_link i {
  font-size: 125%;
}

.footer__nav .site__social .site__social_links .site__social_link .icon__facebook_link:hover {
  color: #3B5998;
}

.footer__nav .site__social .site__social_links .site__social_link .icon__twitter_link:hover {
  color: #00B6F1;
}

.footer__nav .site__social .site__social_links .site__social_link .icon__instagram_link:hover {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer__nav .site__social .site__social_links .site__social_link .icon__pinterest_link:hover {
  color: #C91517;
}

.footer__legal {
  margin-top: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__legal .site__copyright {
  font-size: 14px;
  color: #6A6F72;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */