@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("fontawesome.css");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  color: #212032;
}

.site__content_container {
  height: auto;
  min-height: 100%;
}

.site__main {
  padding: 0;
}

.site__wrapper {
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .site__wrapper {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .site__wrapper {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .site__wrapper {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .site__wrapper {
    width: 1170px;
  }
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.clear-both {
  clear: both;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
  color: #282562;
  font-family: inherit;
}

a {
  text-decoration: none;
}

fieldset {
  position: relative;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.hidden {
  display: none !important;
}

header {
  background-color: white;
}

.site__header {
  border-bottom: 1px solid #edeff3;
}

.site__header_content {
  padding-right: 2.75rem;
  padding-left: 3.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site__notification {
  display: none;
  overflow: hidden;
  max-height: 0;
  padding: 0;
}

.site__notification .notification__message {
  padding-right: 2rem;
  position: relative;
}

.site__notification .notification__message .notification__message_text {
  text-align: center;
  font-weight: bold;
}

.site__header_control {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  z-index: 2000;
  height: auto;
  margin-left: auto;
}

.site__header_control .site__logo {
  display: block;
  padding: 10px 16px 10px 0px;
  height: 4.375rem;
}

.site__header_control .site__logo .site__logo_icon {
  width: auto;
  height: 100%;
  display: block;
}

.site__menu {
  font-family: "Noto Sans", sans-serif;
  z-index: 2000;
  height: auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  float: right;
}

.site__menu .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site__menu .menu__list .menu__container {
  padding: 0;
  height: auto;
}

.site__menu .menu__list .menu__container .menu__item {
  display: inline-block;
  vertical-align: middle;
}

.site__menu .menu__list .menu__container .menu__item .menu__link {
  display: block;
  padding: 1rem;
  cursor: pointer;
  color: #0a0918;
}

.site__menu .menu__list .menu__container .menu__item .menu__link:hover {
  color: #ee2761;
}

.site__menu .menu__list .menu__container .menu__item .menu__link--highlight {
  color: #ee2761;
  font-weight: bold;
}

.site__menu .menu__list .menu__container .menu__item .menu__link--highlight:hover {
  color: #af1e48;
}

.site__menu .menu__list .menu__container .menu__item .menu__link-shopping-cart-container {
  position: relative;
  display: inline-block;
  bottom: -0.125rem;
  width: 1.3rem;
}

.site__menu .menu__list .menu__container .menu__item .menu__link-shopping-cart-container .ts-icon-cart {
  color: initial;
  bottom: -0.125rem;
  left: -0.0625rem;
}

.site__menu .menu__list .menu__container .menu__item .menu__link-shopping-cart-container .ts-icon-cart i {
  font-size: 115%;
}

.site__menu .menu__list .menu__container .menu__item .menu__link-shopping-cart-container .site__shopping-cart-count {
  background-color: #ffc70e;
  padding: 0px 4px;
  color: #0a0918;
  font-size: 10px;
  border-radius: 2px;
  font-weight: 600;
  position: absolute;
  bottom: 0.625rem;
  left: -0.375rem;
}

footer {
  background: white;
}

.site__footer {
  margin: 20px 0px 0px 0px;
  border-top: 1px solid #d8dae0;
  padding: 40px 30px;
}

.site__footer_wrapper {
  margin: 0px;
}

.site__footer_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
  margin: 0 auto;
  padding: 0 15px;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 auto;
}

.footer__nav .nav__items {
  border-left: 1px solid #edeff3;
  display: inline-block;
  padding: 0px 3rem;
}

.footer__nav .nav__items .nav__header {
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 20px;
}

.footer__nav .nav__items .nav__item {
  display: block;
  margin-bottom: 10px;
  padding-right: 5px;
  color: #6a6f72;
}

.footer__nav .nav__items .nav__item .nav__item_link {
  color: #6a6f72;
}

.footer__nav .nav__items .nav__item .nav__item_link:hover {
  color: black;
  opacity: 0.8;
}

.footer__nav .nav__items .nav__item .icon__facebook_link,
.footer__nav .nav__items .nav__item .icon__twitter_link,
.footer__nav .nav__items .nav__item .icon__instagram_link,
.footer__nav .nav__items .nav__item .icon__pinterest_link {
  color: #6a6f72;
}

.footer__nav .nav__items .nav__item .icon__facebook_link:hover {
  color: #3b5998;
}

.footer__nav .nav__items .nav__item .icon__twitter_link:hover {
  color: #00b6f1;
}

.footer__nav .nav__items .nav__item .icon__instagram_link:hover {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer__nav .nav__items .nav__item .icon__pinterest_link:hover {
  color: #c91517;
}

.footer__nav .site__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 1rem;
}

.footer__nav .site__social .site__logo_link {
  padding: 0;
  height: auto;
}

.footer__nav .site__social .site__logo_link .site__logo_icon {
  width: 100%;
  height: auto;
  display: block;
}

.footer__nav .site__social .site__social_links {
  margin: 0;
}

.footer__nav .site__social .site__social_links .site__social_link {
  width: 40px;
  height: 40px;
  background-color: #f6f6f9;
  border-radius: 50%;
  margin-right: 0.5rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  vertical-align: middle;
}

.footer__nav .site__social .site__social_links .site__social_link .icon__facebook_link,
.footer__nav .site__social .site__social_links .site__social_link .icon__twitter_link,
.footer__nav .site__social .site__social_links .site__social_link .icon__instagram_link,
.footer__nav .site__social .site__social_links .site__social_link .icon__pinterest_link {
  margin: 0;
}

.footer__nav .site__social .site__social_links .site__social_link .icon__facebook_link i,
.footer__nav .site__social .site__social_links .site__social_link .icon__twitter_link i,
.footer__nav .site__social .site__social_links .site__social_link .icon__instagram_link i,
.footer__nav .site__social .site__social_links .site__social_link .icon__pinterest_link i {
  font-size: 125%;
}

.footer__nav .site__social .site__social_links .site__social_link .icon__facebook_link:hover {
  color: #3b5998;
}

.footer__nav .site__social .site__social_links .site__social_link .icon__twitter_link:hover {
  color: #00b6f1;
}

.footer__nav .site__social .site__social_links .site__social_link .icon__instagram_link:hover {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer__nav .site__social .site__social_links .site__social_link .icon__pinterest_link:hover {
  color: #c91517;
}

.footer__legal {
  margin-top: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__legal .site__copyright {
  font-size: 14px;
  color: #6a6f72;
  text-align: center;
}

.shopping_cart__container {
  margin-top: 2rem;
}

.shopping_cart__container .shopping_cart--empty {
  display: block;
  padding: 0px 10px;
}

.shopping_cart__container .shopping_cart--empty .empty_shopping_cart_container {
  padding: 60px;
}

.shopping_cart__container .shopping_cart--empty .empty_shopping_cart_container .empty_shopping_cart--center {
  text-align: center;
}

.shopping_cart__container .shopping_cart--empty .empty_shopping_cart_container h1 {
  font-size: 40px;
}

.shopping_cart__container .shopping_cart--empty .empty_shopping_cart_container .empty_shopping_cart--image {
  background: url("../images/layout/empty_cart.svg") no-repeat center center;
  height: 180px;
}

.shopping_cart__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shopping_cart_items__container {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  max-width: 60%;
  width: 100%;
  position: relative;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.shopping_cart__header {
  margin-bottom: 1.25rem;
  padding: 0;
}

.shopping_cart__header .shopping_cart__title {
  font-size: 28px;
  font-family: "Noto Sans", sans-serif;
}

.shopping_cart_order__wrapper {
  position: relative;
  margin: 0;
}

.shopping_cart_item {
  border-top: 1px solid #edeff3;
}

.shopping_cart_item:first-child {
  border-top: none;
}

.shopping_cart_item__view_container {
  padding: 20px 0px;
  margin: 0;
}

.shopping_cart_item__view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shopping_cart_item__image {
  white-space: nowrap;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.shopping_cart_item__image .shopping_cart_item__image--thumbnail {
  display: inline-block;
  width: 66px;
  height: 66px;
  overflow: hidden;
  border-radius: 4px;
  border: 1px solid #edeff3;
}

.shopping_cart_item__detail {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 14px;
  font-weight: 600;
  overflow: hidden;
  margin-left: 10px;
}

.shopping_cart_item__product_title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.shopping_cart_item__product_title--heading {
  color: #0a0918;
  font-size: 16px;
  font-weight: 900;
  font-family: "Raleway", sans-serif;
}

.shopping_cart_item__product_detail {
  overflow: hidden;
  text-overflow: ellipsis;
}

.shopping_cart_item__product_detail .shopping_cart_item__product_detail--list {
  margin-right: 5px;
  padding: 0;
}

.shopping_cart_item__product_detail .shopping_cart_item__product_detail--label {
  display: inline-block;
  color: #6a6f72;
  font-size: 14px;
}

.shopping_cart_item__product_detail .shopping_cart_item__product_detail--label:not(:last-of-type):after {
  content: '•';
  padding: 0 0.25rem;
}

.shopping_cart_item__quantity,
.shopping_cart_item__price {
  position: relative;
  margin: auto 0;
  font-size: 18px;
  padding: 0.25rem;
}

.shopping_cart_item__quantity_label {
  color: #b8bdc5;
  font-size: 16px;
}

.shopping_cart_item__price_label {
  font-size: 16px;
  font-weight: 600;
}

.shopping_cart_item__actions {
  margin: auto 0;
  display: inline;
  width: 70px;
  text-align: right;
  position: relative;
}

.shopping_cart_item__actions_button {
  border-radius: 2px;
  cursor: pointer;
  width: 60px;
  text-align: center;
  padding: 0.2rem 0;
  background-color: white;
  border: 1px solid #6a6f72;
  outline: none;
  color: #212032;
  font-weight: 600;
  font-family: "Rubik", sans-serif;
}

.shopping_cart_item__actions_button:hover {
  color: #212032;
  border-color: #d8dae0;
}

.shopping_cart_item__actions_button.button--small {
  font-size: 14px;
}

.shopping_cart_item__actions_button.button_cart--edit {
  display: inline-block;
}

.shopping_cart_item__actions_button.button_cart--cancel {
  display: inline-block;
}

.shopping_cart_item__actions_button.button_cart--update {
  display: inline-block;
  color: white;
  background-color: #5ec8d5;
  border: 1px solid #5ec8d5;
}

.shopping_cart_item__actions_button.button_cart--update:hover {
  background-color: #428c95;
  border-color: #428c95;
}

.shopping_cart_item__edit {
  width: 100%;
  margin: 10px 0 0;
  border-radius: 4px;
  padding: 6px 0 6px 10px;
  background-color: #f6f6f9;
}

.shopping_cart_item__triangle {
  position: relative;
}

.shopping_cart_item__triangle:after {
  content: "";
  -webkit-transform: scale(2.5, 2.5);
          transform: scale(2.5, 2.5);
  position: absolute;
  border-bottom-color: #f6f6f9;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #f6f6f9;
  top: -12px;
  right: 22px;
}

.shopping_cart_item__remove {
  display: inline-block;
  margin: 15px 9px;
}

.shopping_cart_item__remove .shopping_cart_item__remove-button--remove {
  color: #6a6f72;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 13px;
  font-family: "Noto Sans", sans-serif;
}

.shopping_cart_item__remove .shopping_cart_item__remove-button--remove:hover {
  color: #b8bdc5;
}

.shopping_cart_item__remove_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shopping_cart_item__remove_container .shopping_cart_item__edit--right {
  float: right;
  margin: 0.1875rem 0.3125rem;
}

.shopping_cart_item__remove_container .shopping_cart_item__edit--right .shopping_cart_item__size {
  margin: 0 10px;
  display: inline-block;
}

.shopping_cart_item__remove_container .shopping_cart_item__edit--right .shopping_cart_item__size .shopping_cart_item__size--label {
  display: inline-block;
  margin-right: 0.25rem;
  font-size: 14px;
}

.shopping_cart_item__remove_container .shopping_cart_item__edit--right .shopping_cart_item__size .shopping_cart_item__size--select {
  width: 70px;
  background: white url("../images/layout/double_caret.png") no-repeat right 5px top 50%;
  background-size: 14px 16px;
  border: 1px solid #d8dae0;
  border-radius: 2px;
  color: #0a0918;
  font-size: 14px;
  outline: 0;
  padding: 11px 14px;
  padding-right: 1.5em;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.shopping_cart_item__remove_container .shopping_cart_item__edit--right .shopping_cart_item__size .shopping_cart_item__size--select:focus {
  border-color: #5ec8d5;
  -webkit-box-shadow: 0 0 1px #5ec8d5;
          box-shadow: 0 0 1px #5ec8d5;
}

.shopping_cart_item__remove_container .shopping_cart_item__edit--right .shopping_cart_item__quantity {
  display: inline-block;
  margin: 0 10px;
}

.shopping_cart_item__remove_container .shopping_cart_item__edit--right .shopping_cart_item__quantity .shopping_cart_item__quantity--label {
  display: inline-block;
  margin-right: 0.25rem;
  font-size: 14px;
}

.shopping_cart_item__remove_container .shopping_cart_item__edit--right .shopping_cart_item__quantity .shopping_cart_item__quantity--input {
  width: 60px;
  border: 1px solid #d8dae0;
  padding: 11px 14px;
  padding-right: 8px;
  color: #0a0918;
  font-size: 14px;
  outline: 0;
  border-radius: 2px;
}

.shopping_cart_item__remove_container .shopping_cart_item__edit--right .shopping_cart_item__quantity .shopping_cart_item__quantity--input:focus {
  border-color: #5ec8d5;
  -webkit-box-shadow: 0 0 1px #5ec8d5;
          box-shadow: 0 0 1px #5ec8d5;
}

.shopping_cart_summary__container {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  max-width: 40%;
  width: 100%;
  position: relative;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.shopping_cart_summary {
  float: right;
  border-radius: 2px;
  width: 400px;
  max-width: 400px;
  padding: 1.25rem;
  background-color: #f6f6f9;
}

.shopping_cart_summary__detail {
  color: #d8dae0;
  margin-bottom: 5px;
  font-size: 16px;
}

.shopping_cart_summary__detail--subtotal {
  color: #0a0918;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.detail__label,
.detail__value {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

.checkout_item_label {
  font-weight: bold;
}

.checkout_item_count {
  font-weight: normal;
}

.checkout_item_price {
  font-weight: bold;
  color: #32b259;
}

.shopping_cart_summary__message {
  color: #6a6f72;
  font-size: 14px;
}

.shopping_cart_summary__button {
  margin-top: 20px;
}

.shopping_cart_summary__button .button--transaction {
  outline: none;
  width: 100%;
  text-align: center;
  background: #32b259;
  border: 1px solid #32b259;
  padding: 0.75rem 1.25rem;
  display: block;
  font-weight: bold;
  color: white;
  font-size: 18px;
  font-family: "Rubik", sans-serif;
}

.shopping_cart_summary__button .button--transaction:hover {
  cursor: pointer;
  background: #12652c;
  border: 1px solid #12652c;
}

.checkout__wrapper {
  margin-top: 2rem;
}

.checkout__wrapper .order_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.checkout__wrapper .order_form .checkout__container {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
  width: 100%;
  position: relative;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.checkout__wrapper .order_form .checkout__container .checkout_form {
  margin-bottom: 3rem;
}

.checkout__wrapper .order_form .checkout__container .checkout_form fieldset + fieldset {
  margin-top: -1.5rem;
}

.checkout__wrapper .order_form .order_summary__container {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
  width: 100%;
  position: relative;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  padding: 0.5rem 10px 0.5rem 5rem;
}

.checkout_form__header {
  margin-bottom: 20px;
}

.checkout_form__header .checkout_form__title {
  font-size: 28px;
  font-family: "Noto Sans", sans-serif;
}

.checkout__legend {
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0;
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 8px;
}

.form__textfield {
  font-size: 14px;
  width: 100%;
  border: 1px solid #d8dae0;
  margin-bottom: 1.25em;
  padding: 0.625rem 0.875rem;
  color: #0a0918;
  border-radius: 2px;
  background-color: white;
  background-clip: padding-box;
  -webkit-transition: border-color .15s, background-color .15s;
  transition: border-color .15s, background-color .15s;
}

.form__textfield.error--inline {
  color: #ee2761 !important;
  border-color: #ee2761 !important;
}

.form__textfield:focus {
  border-color: #f58220;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form__group {
  margin-bottom: 1.8rem;
}

.form__group .form__textfield--full {
  width: 100%;
}

.form__group .checkout__input--half {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.checkout_form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.checkout_form__row .checkout__input--half {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  width: 50%;
  clear: both;
  float: left;
}

.checkout_form__row .checkout__input--half + .checkout__input--half {
  padding-left: 15px;
}

.form__error {
  color: #ee2761;
  font-size: 12px;
  margin: -0.75rem 0 0.875rem;
  width: 100%;
}

.checkout_form__footer {
  margin-bottom: 1.8rem;
}

.checkout_form__footer .checkout_form_footer__submit {
  font-weight: bold;
  font-size: 1.5rem;
  padding: 1rem;
  width: 100%;
  display: block;
  color: white;
}

.checkout_form__footer .button--transaction {
  outline: none;
  background: #32b259;
  border: 1px solid #32b259;
}

.checkout_form__footer .button--transaction:hover {
  cursor: pointer;
  background: #12652c;
  border: 1px solid #12652c;
}

.order_summary__info {
  padding: 0;
  background-color: white;
  margin-bottom: 2.6rem;
}

.order_summary__help {
  background-color: transparent;
  margin-bottom: 2.5rem;
}

.checkout__summary_heading {
  padding: 0;
}

.checkout__summary_title {
  margin-bottom: 12px;
}

.checkout__summary__title {
  text-align: left;
  font-size: 20px;
  font-weight: 900;
  font-family: "Noto Sans", sans-serif;
}

.order_summary__modify_order {
  margin-top: 0.3rem;
  float: right;
  font-size: 12px;
  color: #ee2761;
  font-weight: 600;
}

.order_summary__modify_order:hover {
  color: #af1e48;
}

.coupon_code__container {
  margin-bottom: 0.25rem;
}

.coupon_code_link {
  background: none;
  border: none;
  padding: 0;
  outline: none;
  cursor: pointer;
  color: #212032;
}

.coupon_code_link:hover {
  color: #af1e48;
}

.coupon_code__wrapper {
  padding: 0;
  margin: 0;
}

.coupon_code__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.coupon_code_message {
  text-align: left;
  font-size: 14px;
  font-family: "Noto Sans", sans-serif;
  font-weight: 900;
}

.coupon_code_message.success {
  color: #32b259;
}

.coupon_code_message.failure {
  color: #ee2761;
}

.button--apply {
  margin-left: 1rem;
  background-color: #282562;
  border: 1px solid #282562;
  font-size: 1rem;
  line-height: 1.5;
  padding: 0.4375rem 1.75rem;
  border: 0;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  font-weight: 600;
  -webkit-transition: all 150ms;
  transition: all 150ms;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: inline-block;
}

.button--apply:hover {
  background-color: #212032;
  border-color: #212032;
}

.button--apply.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  text-decoration: none;
}

.orders_summary__wrapper {
  border-radius: 4px;
  font-size: 14px;
}

.order_summary_section {
  padding: 0;
}

.order_summary {
  margin: 0;
  height: auto;
}

.order_summary_brand {
  margin-bottom: 0;
  margin-top: 1rem;
}

.order_summary_brand .order_summary_title {
  letter-spacing: normal;
  text-transform: none;
  font-weight: 600;
  font-size: 16px;
  font-family: "Noto Sans", sans-serif;
}

.order_summary_items {
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order_summary__item_image_container {
  white-space: nowrap;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.order_summary__item_image_container .order_summary__item_image_thumbnail {
  background: white;
  border-radius: 4px;
  height: auto;
  overflow: hidden;
  width: 50px;
  border: 1px solid #d8dae0;
}

.order_summary__item_name {
  padding-left: 16px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: hidden;
}

.order_summary__item_title {
  font-weight: bold;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 16px;
  font-family: "Rubik", sans-serif;
}

.order_summary__item_options {
  margin: 0;
  padding: 0;
}

.order_summary__item_options .order_summary__item_label {
  color: #b8bdc5;
  display: inline-block;
  font-size: 14px;
}

.order_summary__item_options .order_summary__item_label:not(:last-of-type):after {
  content: '•';
  padding: 0 0.25rem;
}

.order_summary__item_quantity_and_price {
  white-space: nowrap;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  text-align: right;
  font-size: 14px;
  font-weight: 600;
}

.order_summary__item_quantity {
  text-align: right;
  color: #b8bdc5;
  margin-right: 0.25rem;
}

.order_summary__item_price {
  font-size: 14px;
}

.order_summary__breakdown {
  color: #0a0918;
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.order_summary__discount,
.order_summary__delivery,
.order_summary__subtotal {
  padding-bottom: 10px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.order_summary__delivery_label,
.order_summary__delivery_value,
.order_summary__subtotal_label,
.order_summary__subtotal_price,
.order_summary__discount_label,
.order_summary__discount_tax,
.order_summary__discount_money {
  width: 50%;
}

.order_summary__subtotal_label,
.order_summary__subtotal_price {
  font-weight: bold;
}

.order_summary__subtotal_price_without_discount {
  text-decoration: line-through;
  margin-right: 0.25rem;
}

.order_summary__discount_tax {
  color: #d8dae0;
  position: relative;
  margin-left: 0.25rem;
}

.order_summary__discount_money {
  color: #32b259;
}

.checkout__separator--page {
  opacity: 0.15;
  border-bottom: 1px solid #6c7478;
}

.order_summary__total_container {
  margin: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
}

.order_summary__total_label,
.order_summary__total {
  padding-bottom: 10px;
  margin: 0;
  width: 50%;
}

.order_summary__total_label--text,
.order_summary__total_price {
  font-weight: bold;
  color: #0a0918;
  font-size: 18px;
  font-family: "Rubik", sans-serif;
}

.order_summary__total {
  text-align: right;
}

.order_summary__total_price {
  color: #32b259;
}

.shop__heading-product {
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 10px;
}

.shop__heading-product .shop__title {
  font-weight: bold;
  font-size: 28px;
  text-align: left;
  color: #0a0918;
}

.shop__description_container {
  position: relative;
}

.shop__description_container .shop__description--text {
  margin: 0;
  padding-bottom: 20px;
  text-align: left;
  font-size: 16px;
  font-family: "Rubik", sans-serif;
}

.site__shop_product_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
}

.image_stack__container___wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 55%;
          flex: 0 0 55%;
  max-width: 55%;
  width: 100%;
  position: relative;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.shop__column--product {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
  max-width: 45%;
  width: 100%;
  position: relative;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.shop__purchase_container {
  background-color: #f6f6f9;
  border: 1px solid #edeff3;
  border-radius: 2px;
  border-bottom-width: 1px;
  padding-bottom: 0;
  margin-bottom: 1.06666rem;
}

.shop_form_container {
  display: block;
  position: relative;
}

.product_dropdown__container {
  margin-bottom: 0;
  padding: 0 16px;
  padding-bottom: 10px;
  padding-top: 20px;
}

.product__type_label,
.product__size_label,
.product__quantity_label,
.product__toppings_label {
  margin-top: 0;
}

.product_dropdown__label {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  font-family: "Rubik", sans-serif;
}

.product__type_dropdown_container {
  margin: 0;
}

.product__type_dropdown {
  width: 100%;
  background: white url("../images/layout/double_caret.png") no-repeat right 5px top 50%;
  background-size: 14px 16px;
  border: 1px solid #d8dae0;
  border-radius: 2px;
  color: #0a0918;
  font-size: 14px;
  outline: 0;
  padding: 11px 14px;
  padding-right: 1.5em;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
}

.product__type_dropdown:focus {
  border-color: #5ec8d5;
  -webkit-box-shadow: 0 0 1px #5ec8d5;
          box-shadow: 0 0 1px #5ec8d5;
}

.product__container {
  display: block;
  margin: 0;
}

.product__nav {
  padding-top: 2px;
  overflow-x: hidden;
  margin-bottom: 0;
  position: relative;
  text-align: left;
  white-space: nowrap;
}

.product__list {
  padding: 0 16px;
  width: auto;
}

.product__single {
  display: block;
  float: left;
  margin: 0 10px 10px 0;
  opacity: 0.6;
  cursor: pointer;
  border-radius: 4px;
  overflow: hidden;
  -webkit-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
}

.product__single:hover {
  opacity: 1;
}

.product__single.product__single--active {
  opacity: 1;
}

.product__single.product__single--active .product__img-wrap {
  -webkit-box-shadow: 0 0 0.5px 1px #5ec8d5;
          box-shadow: 0 0 0.5px 1px #5ec8d5;
  background-color: #f6f6f9;
  border-color: #ee2761;
  opacity: 1;
  -webkit-transition: all 100ms;
  transition: all 100ms;
  border-width: 2px;
}

.product__single .product__img-wrap {
  border: 1px solid #edeff3;
  border-radius: 2px;
  width: 70px;
  height: 70px;
  position: relative;
  background-color: white;
  text-align: center;
  overflow: hidden;
}

.product__single .product__img-wrap:hover {
  -webkit-box-shadow: 0 0 0.5px 1px #5ec8d5;
          box-shadow: 0 0 0.5px 1px #5ec8d5;
  background-color: #f6f6f9;
  border-color: #ee2761;
  opacity: 1;
  -webkit-transition: all 100ms;
  transition: all 100ms;
  border-width: 2px;
}

.product__single .product__img-wrap .product__thumb {
  max-height: 70px;
  margin: auto;
}

.shop_page__size_quantity_container {
  padding: 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
}

.product__size_container,
.product__quantity_container {
  display: block;
  margin-right: 20px;
}

.product__size_label,
.product__quantity_label {
  padding-right: 16px;
  margin-bottom: 5px;
}

.product__size_selector_menu_container,
.product__quantity_input_field_container {
  width: 35%;
  min-width: 100px;
  max-width: 120px;
  height: 40px;
}

.product__size_selector_menu {
  width: 100%;
  background: white url("../images/layout/double_caret.png") no-repeat right 5px top 50%;
  background-size: 14px 16px;
  border: 1px solid #d8dae0;
  border-radius: 2px;
  color: #0a0918;
  font-size: 14px;
  outline: 0;
  padding: 11px 14px;
  padding-right: 1.5em;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.product__size_selector_menu:focus {
  border-color: #5ec8d5;
  -webkit-box-shadow: 0 0 1px #5ec8d5;
          box-shadow: 0 0 1px #5ec8d5;
}

.product__quantity_input_field {
  width: 100%;
  border: 1px solid #d8dae0;
  padding: 11px 14px;
  padding-right: 8px;
  color: #0a0918;
  font-size: 14px;
  outline: 0;
  border-radius: 2px;
}

.product__quantity_input_field:focus {
  border-color: #5ec8d5;
  -webkit-box-shadow: 0 0 1px #5ec8d5;
          box-shadow: 0 0 1px #5ec8d5;
}

.product__toppings_container {
  padding: 0 16px;
}

.shop_transaction {
  position: relative;
  display: block;
}

.shop_transaction .shop_button--transaction {
  outline: none;
  background: #32b259;
  border: 1px solid #32b259;
}

.shop_transaction .shop_button--transaction:hover {
  cursor: pointer;
  background: #12652c;
  border: 1px solid #12652c;
}

.shop_transaction .shop_form__submit {
  border-radius: 2px;
  font-weight: bold;
  font-size: 1.25rem;
  padding: 1rem;
  width: 100%;
  display: block;
  color: white;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
/*# sourceMappingURL=style.css.map */